.content {
  margin: 0;
  padding: 0 200px 0 200px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  max-width: 1280px;
  min-width: 280px;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
    .content {
        padding-left: 100px;
        padding-right: 100px;
      }
}
@media screen and (max-width: 950px) {
    .content {
        padding-left: 40px;
        padding-right: 40px;
      }
}
@media screen and (max-width: 450px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
      }
}
@media screen and (max-width: 400px) {
    .content {
        border-top: 1px solid #545454B4;
      }
}