.gallery__image {
  height: calc(100% - 80px);
  object-fit: cover;
  object-position: center;

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;   
}
.gallery__image:hover {
  transform: scale(1.1);  
}