.profile__add {
  justify-self: flex-end;
  min-width: 150px;
  height: 50px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  border: 2px solid white;
  border-radius: 2px;

  background-image: url(../../../images/add.svg);
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat; 
  
  opacity: 1;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;  
}
.profile__add:hover {
  opacity: 0.6;
}
@media screen and (max-width: 400px) {
    .profile__add {
        width: 100%;
        background-size: 16px 16px;
      }
}