.popup__image {
  display: block;
  margin: 0;
  padding: 0;
  height: calc(100% - 25px);
  max-width: 100%;

  -o-object-fit: cover;

     object-fit: cover;
  -o-object-position: center;
     object-position: center;  
}