.profile__info {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 26px 30px;
}
@media screen and (max-width: 600px) {
    .profile__info {
        flex-flow: column nowrap;
      }
}