.gallery__remove {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 18px;
  height: 19px;

  position: absolute;
  top: 20px;
  right: 20px;

  background-image: url(../images/trash.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;

  opacity: 1;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;    
}
.gallery__remove:hover {
  opacity: 0.6;
}