.footer {
  margin: 0;
  padding: 66px 200px 60px 200px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  max-width: 1280px;
  min-width: 280px;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
}
@media screen and (max-width: 1200px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;
      }
}
@media screen and (max-width: 950px) {
    .footer {
        padding-left: 40px;
        padding-right: 40px;
      }
}
@media screen and (max-width: 450px) {
    .footer {
        padding: 48px 20px 36px 20px;
      }
}