.profile__bio {
  grid-row: 3;
  grid-column: 1;  
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bio;

  margin: 0;
  padding: 0;  

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;  

  -o-text-overflow: ellipsis;  

     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}
@media screen and (max-width: 600px) {
    .profile__bio {
        text-align: center;
      }
}
@media screen and (max-width: 450px) {
    .profile__bio {
        font-size: 14px;
        line-height: 17px;    
      }
}